*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(clima-tipos-1024x423.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}

.contenedor{
  max-width: 70vw;
  height: 100vh;
  text-align: center;
  padding: 28px 28px 58px;
  margin: 18% auto 0;
  background-color: rgb(32, 32, 90);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor__titulo{
  color: white;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.contenedor__resultado{
  margin-bottom: 2rem;
}

.contenedor__datos{
  color: white;
}

form input[type="text"], form input[type="submit"],form select {
  width: 100%;
  margin: 0px 0 25px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-family: 'Times New Roman', Times, serif;
}

.contenedor__flex{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

form input[type="submit"]{
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  background-color: rgba(120, 180, 230, 0.425);
  border: thin solid rgba(120, 180, 230, 0.425);
  color: #fff;
  font-weight: 500;
  transition: all 1s ease-out;
  margin-bottom: 2rem;
}

.form input[type="submit"]:hover{
  width: 50%;
  background-color: #fff;
  color: #6c8bdf;
  border: thin solid #fff;
}
